:root {

}
* {
    /* universal selector applications go here */
    box-sizing: border-box;
}

header,
footer {
    /* display: flex; */
    display: block;
    text-align: left;
    background-color: #ba8de4f6;
    color: white;
    padding: 20px;
    font-size: 24px;
    /* justify-content: space-between; */
}

.header nav {
    display: flex;
    justify-content: right;
}

img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
    background-color: white;  
}

body {
    
}