:root {

}
* {
    /* universal selector applications go here */
    box-sizing: border-box;
    line-height: 150%;
    font-size: 18px;
}

body {
     background-color: rgb(128, 128, 128, 0.3);
}

header,
footer {
    /* display: flex; */
    display: block;
    text-align: left;
    background-color: #ba8de4f6;
    color: white;
    padding: 50px;
    font-size: 24px;
    /* justify-content: space-between; */
}

.header nav {
    display: flex;
    justify-content: right;
}



img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
    background-color: white;  
}

h2 {
    color: white;
}

.section {
    padding: 50px;
}

#About-Me {
    display: inline;
    text-align:center;
    color: black;  
    
}

#My-work {
    text-align: center;
}

#Contact-info {
    text-align: center;
    
}

.content-section {
    display:flex;
}

.left-section {
    width: 30%;
}

.right-section {
    width: 70%;
}

.bottom-images {
    display: flex;
}


/* Add @media screen -- so that you can control how the webpages look at different screens */

/* display:flex turns element into flexbox
flex-wrap forctent defines how to distribute empty space between child elements 
02 - 05 for more media query/flex content*/

/* button:hover the cursor is positioned over the element
button:active the user actively clicks on element
button:focus element is in focus either by tapping or clicking on it */