:root {

}
* {
    /* universal selector applications go here */
    box-sizing: border-box;
}

header,
footer {
    /* display: flex; */
    text-align: left;
    background-color: rgba(186, 141, 228, 0.966);
    color: white;
    padding: 20px;
    font-size: 24px;
    /* justify-content: space-between; */
}

.header nav {
    display: flex;
    justify-content: right;
}